.container{
    display: flex;
    margin-top: 1.25rem;
    flex-direction: column;
    gap: 1.25rem;
}

.informeTitulo{
    display: flex;
    justify-content: space-between;
}

.informeSeleccion select{
    width: 15rem;
    height: 3rem;
    padding: 0.8rem;
    border-radius: 0.625rem;
    background-color: var(--bgSoft);
    color: var(--text);
    border: solid 1px #ffffff91;
}

.boton button{
    width: 10rem;
    height: 3rem;
    padding: 0.8rem;
    border-radius: 0.625rem;
    background-color: #6d31dd;
    color: var(--text);
    border: solid 1px #bb9df1a9;
    cursor: pointer;
}

.boton{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.temporal select{
    background-color: var(--bg);
    padding: 0.8rem;
    color: var(--text);
    border-radius: 0.5rem;
}
