.container{
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}

.menu{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.icons{
    display: flex;
    gap: 1.25rem;
    align-items: flex-end;
}

.alerts{
    display: flex;
    width: 2rem;
    flex-direction: column;
}

.cantidad{
    font-size: 0.75rem;
    align-self: flex-end;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #e60000be solid 1px;
    background-color: #e6000079;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 1rem;
}

.invisible{
    display: none;
}