.fondoPar{
    background-color: var(--bg);
}

.fondoInpar{
    background-color: var(--bgSoft);
}

.container{
    font-size: 0.825rem;
    font-weight: 500;
}

.adaptador{
    display: flex;
    align-items: center;
}

.itemStock{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.bolita{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.5rem;
}

.plan{
    border: solid #0763139d 0.1px;
    background-color: #35ad2554;
    color: #3bd30c;
}

.clase{
    border: solid rgba(99, 74, 7, 0.74) 0.1px;
    background-color: #a89e1156;
    color: #cfbd13;
}

.personalizado{
    border: solid #c52734c0 0.1px;
    background-color: #c527344b;
    color: #b83030;
}

.personalizado .bolita{
    background-color: #b83030;
}

.clase .bolita{
    background-color: #cfbd13;
}

.plan .bolita{
    background-color: #3bd30c;
}
