.container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.back{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.back button{
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.625rem;
    cursor: pointer;
    background-color: #008080;
    border: solid #04dfdf 1px;
    color: var(--text);
}


