.container{
    height: max-content;
    width: 100%;
    background-color: var(--bgSoft);
    border-radius: 0.825rem;
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
    justify-content: space-between;
    padding: 1.25rem;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
}

.titulo h2{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text);
}

.calendarContent{
    padding: 0.25rem;
    background-color: var(--bg);
    display: flex;
    gap: 0.5rem;
    padding: 0.875rem;
    align-items: center;
    width: max-content;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    align-self: flex-end;
}

.table{
    flex: 1;
}





