.container{
    width: 100%;
    background-color: var(--bgSoft);
    display: flex;
    gap: 1.5rem;
    padding: 1.25rem;
    border-radius: 0.625rem;
    align-items: center;
}

.iconContent{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue{
    background-color: #3cc1d362;
    color: #13ecec;
}

.yellow{
    background-color: #a89e1156;
    color: #cfbd13;
}

.green{
    background-color: #35ad2554;
    color: #3bd30c;
}

.black{
    background-color: #af9fa64b;
    color: #848488;
}

.tituloContent{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.titulo{
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--text);
}

.cantidad{
    font-size: 1rem;
    color: var(--textSoft);
    font-weight: 500;
}