.container{
    display: flex;
}

.menu{
    flex: 1;
    background-color: var(--bgSoft);
    padding: 1.25rem;
}

.contenido{
    flex: 4;
    padding: 1.25rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.informes{
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
}