.container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.selectTipo{
    height: 3.5rem;
    width: 15rem;
    align-self: flex-start;
    padding: 1.25rem;
    border: 1px solid #fff;
    background-color: var(--bg);
    color: var(--text);
    border-radius: 0.625rem;
}