.container{
    width: 100%;
    background-color: var(--bgSoft);
    border-radius: 0.625rem;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    padding: 1.25rem;
}


.tablaContent{
    width: 100%;
    border: solid #8383836e 1px;
    background-color: var(--bgSoft);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
}

.titulo{
    padding: 1.25rem;
    border-bottom: solid #8383836e 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo h2{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text);
}

.searchContent{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.funcionalidades{
    display: flex;
    gap: 5rem;
    align-items: center;
}

.cantPaginas{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.cantPaginas p{
    font-size: 0.825rem;
    color: var(--textSoft);
}
.cantPaginas select{
    height: 2.2rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    width: 3.5rem;
    border: solid #293655 1px;
    color: var(--text);
    cursor: pointer;
    background-color: var(--bg);
}


.funcionalidades button{
    padding: 0.65rem;
    border-radius: 0.625rem;
    color: var(--text);
    border: none;
    background-color: #5820da;
    cursor: pointer;
}

.tabla{
    width: 100%;
    font-weight: 300;
    border-collapse: collapse;
    flex-wrap: nowrap;
}

.tabla tbody tr:last-child td {
    border-radius: 0 0 0.625rem 0.625rem;
}

.tabla td{
    padding: 1.25rem;
}

.tablaContenTitulo{
    display: flex;
    gap: 0.5rem;
    align-items: center;    
}

.fecha{
    width: 16%;
}

.nombre{
    width: 16%;    
}

.producto{
    width: 16%;
}

.cantidad{
    width: 10%;
}

.status{
    width: 10%;
}

.total{
    width: 10%;
}

.id{
    width: 10%;
}

.acciones{
    width: 10%;
}