.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginContent{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 2.5rem;
    background-color: var(--bgSoft);
    border: solid #8383836e 1px;
    border-radius: 0.625rem;
    gap: 1.25rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.titulo p{
    color: #EAF893;
}

.subtitulo{
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    align-items: center;
}

.subtitulo h2{
    font-size: 1.5rem;
    font-weight: 650;
    color: var(--text);
}

.subtitulo p{
    font-size: 0.825rem;
    font-weight: 450;
    color: var(--textSoft);
}