.inputs{
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
}

.inputs input{
    padding: 1.5rem;
    height: 4.5rem;
    width: 25rem;
    background-color: var(--bg);
    border: solid #8383836e 1px;
    border-radius: 0.625rem;
    font-size: 0.8rem;
    color: var(--text);
}

.inputs input::placeholder{
    color: var(--text);
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.boton button{
    border: none;
    background-color: #ffffff;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.625rem;
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer;
}